* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  width: 100%;
  min-height: 100vh;
  background: white;
}
#theme {
  display: none;
}
#theme:checked ~ .App {
  filter: invert(1);
}
.main {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* -------- AUTH ---------- */
@import url('./auth.css');
/* -------- LOADING ---------- */
@import url('./loading.css');
/* -------- HEADER ---------- */
@import url('./header.css');
/* -------- AVATAR ---------- */
@import url('./avatar.css');
/* -------- PROFILE ---------- */
@import url('./profile.css');
/* -------- HOME ---------- */
@import url('./home.css');
/* -------- STATUS_MODAL ---------- */
@import url('./status_modal.css');
/* -------- COMMENTS ---------- */
@import url('./comments.css');

.mode {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
